body{
     font-family: "Noto Sans", sans-serif;
     
}

.container{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #8b2adb; ;
    border-radius: 18px;
    box-shadow: 0 0 52px 2px rgba(0,0,0,0.32);
     padding: 14px 22px;
    width: 400px;
  
  
}

.Signup-head{
    text-align: center;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

.input-box label{
    width: 120px;
    margin-bottom:3px;
}

.input-box input{
    padding:  10px;
    border-radius: 5px;
    font-size: 17px;
    opacity: 0.5;
}

#pass-check{
    width: 25px;
    margin-right: -2px;
}


.signIn-btnBox{
    display: flex;
    margin-top: 20px;
}

.signIn-btn{
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
    margin: auto ;
    background-color: #32fd09;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.signIn-btn:hover{
    background: #000;
    color: #fff ;
}

.validation-check{
    font-size: 14px;
    margin-left: 6px;
    color: red;
}